In [1]:

import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目  國文   英文   數學  地理  歷史   總分    平均    名次
學號
28  93   96   60  86  90  425  85.0   1.0
4   99   79   69  83  86  416  83.2   2.0
11  83  100   74  55  97  409  81.8   3.0
49  80   41   98  96  93  408  81.6   4.0
50  70   66   77  97  86  396  79.2   5.0
10  51   97   87  88  71  394  78.8   6.0
3   43   79   99  81  90  392  78.4   7.0
30  88   69   89  93  48  387  77.4   8.0
40  66   71   71  93  84  385  77.0   9.0
21  54   87   79  99  62  381  76.2  10.0
38  81   79   42  79  99  380  76.0  11.0
39  87   53   70  74  94  378  75.6  12.0
6   58   48   92  97  82  377  75.4  13.0
18  64   84   89  86  54  377  75.4  13.0
44  58   94   51  95  72  370  74.0  15.0
47  53   90   77  69  78  367  73.4  16.0
14  58   61   98  68  78  363  72.6  17.0
7   62   48   96  67  90  363  72.6  17.0
16  65   95   48  73  81  362  72.4  19.0
37  46   80   59  94  82  361  72.2  20.0
41  94   45   96  45  80  360  72.0  21.0
45  43   71   66  80  98  358  71.6  22.0
46  60   69   92  77  56  354  70.8  23.0
1   85   63   88  47  71  354  70.8  23.0
5   75   57   53  93  76  354  70.8  23.0
15  56   76   56  96  68  352  70.4  26.0
27  73   61   80  67  62  343  68.6  27.0
34  54   64   95  42  87  342  68.4  28.0
22  68   76   67  89  41  341  68.2  29.0
9   52   77   95  42  75  341  68.2  29.0
42  66   95   61  71  41  334  66.8  31.0
24  56  100   59  53  65  333  66.6  32.0
29  64   59   42  90  77  332  66.4  33.0
2   49   72   81  50  79  331  66.2  34.0
36  47   47   92  77  68  331  66.2  34.0
32  76   49   72  55  78  330  66.0  36.0
19  42   62  100  66  56  326  65.2  37.0
26  78   80   57  48  61  324  64.8  38.0
43  56   56   59  79  68  318  63.6  39.0
35  84   45   70  48  70  317  63.4  40.0
8   66   50   58  87  56  317  63.4  40.0
23  79   48   42  64  82  315  63.0  42.0
13  46   61   96  65  43  311  62.2  43.0
48  73   53   72  57  56  311  62.2  43.0
25  44   68   69  47  81  309  61.8  45.0
17  51   80   50  80  46  307  61.4  46.0
31  70   86   63  43  43  305  61.0  47.0
12  67   46   42  59  83  297  59.4  48.0
20  55   53   64  77  45  294  58.8  49.0
33  48   40   40  52  86  266  53.2  50.0

In [11]:
def fun1(series:pd.Series) ->int:
    min= series.min()
    median= series.median()
    max=series.max()
    s1= pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df= scores_df[['國文','英文','數學','地理','歷史']]

frame1= subject_df.apply(fun1)
frame1

科目     國文     英文     數學    地理    歷史
最低分  42.0   40.0   40.0  42.0  41.0
中間值  64.0   68.5   70.5  75.5  76.5
最高分  99.0  100.0  100.0  99.0  99.0

In [15]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    return pd.Series([lessThen60],index=['不及格科目'])

display(subject_df.T)
subject_df.T.apply(fun2)

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,85,49,43,99,75,58,62,66,52,51,...,94,66,56,58,43,60,53,73,80,70
英文,63,72,79,79,57,48,48,50,77,97,...,45,95,56,94,71,69,90,53,41,66
數學,88,81,99,69,53,92,96,58,95,87,...,96,61,59,51,66,92,77,72,98,77
地理,47,50,81,83,93,97,67,87,42,88,...,45,71,79,95,80,77,69,57,96,97
歷史,71,79,90,86,76,82,90,56,75,71,...,80,41,68,72,98,56,78,56,93,86

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
不及格科目,1,2,1,0,2,2,1,3,2,1,...,2,1,3,2,1,1,1,3,1,0

In [18]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    chinese = "及格" if(series['國文']>= 60) else "不及格"
    english = "及格" if(series['英文']>= 60) else "不及格"

    return pd.Series ([lessThen60, chinese,english], index=['不及格科目','國文','英文'])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,85,49,43,99,75,58,62,66,52,51,...,94,66,56,58,43,60,53,73,80,70
英文,63,72,79,79,57,48,48,50,77,97,...,45,95,56,94,71,69,90,53,41,66
數學,88,81,99,69,53,92,96,58,95,87,...,96,61,59,51,66,92,77,72,98,77
地理,47,50,81,83,93,97,67,87,42,88,...,45,71,79,95,80,77,69,57,96,97
歷史,71,79,90,86,76,82,90,56,75,71,...,80,41,68,72,98,56,78,56,93,86

   不及格科目   國文   英文
學號
1      1   及格   及格
2      2  不及格   及格
3      1  不及格   及格
4      0   及格   及格
5      2   及格  不及格
6      2  不及格  不及格
7      1   及格  不及格
8      3   及格  不及格
9      2  不及格   及格
10     1  不及格   及格
11     1   及格   及格
12     3   及格  不及格
13     2  不及格   及格
14     1  不及格   及格
15     2  不及格   及格
16     1   及格   及格
17     3  不及格   及格
18     1   及格   及格
19     2  不及格   及格
20     3  不及格  不及格
21     1  不及格   及格
22     1   及格   及格
23     2   及格  不及格
24     3  不及格   及格
25     2  不及格   及格
26     2   及格   及格
27     0   及格   及格
28     0   及格   及格
29     2   及格  不及格
30     1   及格   及格
31     2   及格   及格
32     2   及格  不及格
33     4  不及格  不及格
34     2  不及格   及格
35     2   及格  不及格
36     2  不及格  不及格
37     2  不及格   及格
38     1   及格   及格
39     1   及格  不及格
40     0   及格   及格
41     2   及格  不及格
42     1   及格   及格
43     3  不及格  不及格
44     2  不及格   及格
45     1  不及格   及格
46     1   及格   及格
47     1  不及格   及格
48     3   及格  不及格
49     1   及格  不及格
50     0   及格   及格