In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50, 5))
scores_df = pd.DataFrame(scores,
    columns=['國文', '英文', '數學', '地理', '歷史'],
    index=range(1,51))
scores_df.index.name = "學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目  國文  英文   數學   地理  歷史   總分    平均    名次
學號
35  85  96  100   45  78  404  80.8   1.0
42  55  79   85   84  99  402  80.4   2.0
14  88  94   82   77  61  402  80.4   2.0
46  69  68   82   74  97  390  78.0   4.0
50  94  45   94   66  89  388  77.6   5.0
44  94  57   58   95  81  385  77.0   6.0
43  99  50   51   93  89  382  76.4   7.0
40  76  52   71  100  82  381  76.2   8.0
47  56  71  100   81  71  379  75.8   9.0
9   72  94   67   62  84  379  75.8   9.0
4   84  75   74   64  81  378  75.6  11.0
8   59  86   96   65  72  378  75.6  11.0
37  88  63   65   67  94  377  75.4  13.0
5   90  95   76   47  68  376  75.2  14.0
10  87  89   50   73  75  374  74.8  15.0
20  68  75   70   65  92  370  74.0  16.0
25  55  87   59   90  79  370  74.0  16.0
41  46  70   99   78  72  365  73.0  18.0
7   60  85   69   96  55  365  73.0  18.0
38  96  59   71   40  96  362  72.4  20.0
31  59  55   96   87  64  361  72.2  21.0
45  66  59   70   86  79  360  72.0  22.0
27  58  80   48   90  84  360  72.0  22.0
22  82  76   61   72  64  355  71.0  24.0
32  60  55   95   46  95  351  70.2  25.0
39  78  51   69   94  56  348  69.6  26.0
2   74  59   98   54  57  342  68.4  27.0
19  45  77   82   76  61  341  68.2  28.0
29  51  71   98   43  74  337  67.4  29.0
6   45  77   45   81  88  336  67.2  30.0
16  80  87   43   59  67  336  67.2  30.0
26  98  57   54   50  77  336  67.2  30.0
12  60  48   73   54  98  333  66.6  33.0
1   58  79   54   83  57  331  66.2  34.0
23  95  79   52   58  42  326  65.2  35.0
21  48  59   68   78  73  326  65.2  35.0
24  47  72   91   63  52  325  65.0  37.0
30  77  70   55   47  75  324  64.8  38.0
15  66  90   73   45  40  314  62.8  39.0
34  69  81   58   45  55  308  61.6  40.0
36  74  62   61   54  52  303  60.6  41.0
28  72  61   47   46  76  302  60.4  42.0
3   55  47   64   74  62  302  60.4  42.0
13  64  71   68   45  53  301  60.2  44.0
18  87  58   68   42  43  298  59.6  45.0
11  58  53   44   75  54  284  56.8  46.0
17  45  65   52   43  70  275  55.0  47.0
49  70  45   57   42  54  268  53.6  48.0
33  43  58   58   51  50  260  52.0  49.0
48  41  54   50   48  53  246  49.2  50.0

In [2]:
display(scores_df.iloc[:3])
new_df = scores_df.iloc[:3].copy()
new_df['不及格'] = pd.Series([1,0,2],index=[1,2,3])
new_df

科目  國文  英文  數學  地理  歷史   總分    平均    名次
學號
1   58  79  54  83  57  331  66.2  34.0
2   74  59  98  54  57  342  68.4  27.0
3   55  47  64  74  62  302  60.4  42.0

科目  國文  英文  數學  地理  歷史   總分    平均    名次  不及格
學號
1   58  79  54  83  57  331  66.2  34.0    1
2   74  59  98  54  57  342  68.4  27.0    0
3   55  47  64  74  62  302  60.4  42.0    2